
.logo{
    width: 80px;
}

.top-sell{
    margin: 50px;
}
.top-sell h4{

    text-align: center;
}
.top-windowAC{
    margin: 50px;
}
.top-windowAC h4{

    text-align: center;
}
.product{
    margin: 100px;
    width: 20%;
    border-radius: 20px;
    background-color: rgb(48, 47, 47);
    
}

#menu{
    font-size: 25px;
}
#menu li{
    margin-right: 50px;
    margin-left: 50px;
}
.main{
    min-height: 600px;
}
#banner{
    background-color: rgb(29, 29, 29);
    height: 600px;
    margin: auto;
}
#banner-hide{
    display: none;
    width: 95%;
    height: 100%;
}

.banner-show img{
    width: 95%;
    height: 100%;
    margin: auto;
}

.prev{
    color: white;
    border-radius: 100px;
    background-color: rgb(48, 47, 47);
    box-shadow: 0px;
    border: none;
    margin: auto;
}
.next{
    color: white;
    border-radius: 100px;
    background-color: rgb(48, 47, 47);
    box-shadow: 0px;
    border: none;
    margin: auto;
}
.footer{
    width: 100%;
    background-color: black;
}
.footer-icon a{
    color: white;
    font-size: 20px;
    margin-right: 20px;
}
/* .footer-icon i{
    color: white;
} */