
.logo{
    width: 80px;
}

.top-sell{
    margin: 50px;
}
.top-sell h4{

    text-align: center;
}
.top-windowAC{
    margin: 50px;
}
.top-cassetteAC{
    margin: 50px;
}
.top-cassetteAC h4{

    text-align: center;
}
.top-windowAC h4{

    text-align: center;
}
.product{
    margin: 30px;
    width: 20%;
    border-radius: 20px;
    background-color: rgb(48, 47, 47);
    float: left;
    height: 300px;
}

#menu{
    font-size: 25px;
}
#menu li{
    margin-right: 50px;
    margin-left: 50px;
}
.main{
    min-height: 600px;
}
#banner{
    background-color: rgb(29, 29, 29);
    height: 600px;
    margin: auto;
}
#banner-hide{
    display: none;
    width: 95%;
    height: 100%;
}

.banner-show img{
    width: 95%;
    height: 100%;
    margin: auto;
}

.prev{
    color: white;
    border-radius: 100px;
    background-color: rgb(48, 47, 47);
    box-shadow: 0px;
    border: none;
    margin: auto;
}
.next{
    color: white;
    border-radius: 100px;
    background-color: rgb(48, 47, 47);
    box-shadow: 0px;
    border: none;
    margin: auto;
}
.footer{
    width: 100%;
    background-color: black;
}
.footer-icon a{
    color: white;
    font-size: 20px;
    margin-right: 20px;

}
.img-product{
    overflow: hidden;
    position: relative; 
}
.img-product img{
    width: 100%;
    max-height: 170px;
    display: block;
  transition: transform 0.3s ease;
}
.product:hover img{
    transform: scale(1.2);
   
}
.product:hover{
    cursor: pointer;
}
.detail-product{
    text-align: center;
}

.name-product{
    height:50px;
    padding-left: 20px;
    padding-right: 20px;
}
.copyright{
    background-color: rgb(26, 25, 25);
    text-align: center;
}

.product-information{
    min-height: 700px;
    margin-top: 50px;
}
.navbar-nav .nav-link:hover a{

    background-color: #333;
    color: white;
}
#dropdownId a:hover{
    color: black;
    background-color: aqua;
}
.cart-table{
    margin-top: 100px;
}
.cart-table> h3{
    text-align: center;
}
.cart-table> p{
    text-align: center;
}
.cart-table img{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img-product-inf{
   
    
    float: left;
}
.img-product-inf img{
    width: 100%;

    padding: 10px;
}

.zoom-box{
    position: relative;
}
.zoom-box img{
    vertical-align: bottom;
    
}
.zoom-box .zoom-selector{
    position: absolute;
    /* background-image: url("images/selector.png"); */
    background-repeat: repeat;
    display: none;
    cursor: crosshair;

}
.zoom-box .viewer-box{
    position: absolute;
    border: 1px solid red;
    display: none;
    overflow: hidden;
    

}
.zoom-box .viewer-box>img{
    position: absolute;
    left: 0;
    top: 0;
    
}
.viewer-box{
    z-index: 2;
}
.product-inf{
    z-index: 1;
}
.remove-button{
    border: none;
    
}